* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}

.pricing-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border-radius: 2%;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: auto auto;
  column-gap: 48px;
  row-gap: 32px;
}

.price-table-header {
  color: #5c636a;
  font-size: 24px;
  grid-column: 1/-1;
  letter-spacing: -1.5px;
  text-align: center;
}

.card {
  border-radius: 2px;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-img {
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.card-name {
  color: #454c54;
  font-size: 32px;
  letter-spacing: -1px;
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.hor-line-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.hor-line {
  background-color: #dee2e6;
  height: 1px;
  width: 80%;
}

.card-details {
  color: #495057;
  font-size: 18px;
}

.card-price {
  margin-bottom: 24px;
  text-align: center;
}

.card-currency-symbol {
  vertical-align: super;
}

.card-price-tag {
  color: #16a34a;
  font-size: 52px;
  font-weight: 500;
}

.card-details ul {
  list-style-type: none;
  line-height: 1.8;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
}

li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.check-icon {
  width: 20px;
}

.card-button {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.card-button > button {
  background-color: #495057;
  border: none;
  border-radius: 2px;
  color: #e9ecef;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  width: 50%;
}

.card-button > button:hover {
  background-color: rgba(73, 80, 87, 0.9);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.best-card {
  border: 2px solid #5f3dc4;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.card-popular-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-popular-tag {
  background-color: #5f3dc4;
  color: #edf2ff;
  border-radius: 40px;
  padding: 4px 12px;
  position: absolute;
  user-select: none;
}

.best-card button {
  background-color: #5f3dc4;
}

.best-card button:hover {
  background-color: #6741d9;
}

@media (max-width: 1201px) {
  .main-container {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-content: center;
    max-width: 480px;
  }
}
